body {
  font-family: Helvetica, Arial, sans-serif; }

#main_section_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; }

.main_content {
  width: 302px; }

.header_gray {
  background-color: #424242;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 6px 0px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .header_gray p {
    font-size: 16px; }
  .header_gray::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 81%;
    width: 0;
    height: 0;
    border-top: solid 10px #424242;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent; }

.red_bar {
  width: 298px;
  height: 15px;
  position: relative;
  border: 2px solid #dddbdb;
  margin-top: 15px; }
  .red_bar:after {
    position: absolute;
    content: "";
    width: 85%;
    background-color: #f5592b;
    height: 15px; }

.content {
  border: 2px solid #dddbdb;
  border-top: 0px;
  width: 258px;
  padding: 20px;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .content::after {
    content: '';
    background-color: pink;
    border-bottom: 3px solid #F4F4F4;
    width: 100%;
    position: absolute;
    margin: 3px 0px 0px -20px;
    bottom: -5px; }
  .content .dollar_value {
    font-size: 20px;
    color: #7b7a7a;
    padding: 10px 10px;
    border: 2px solid #dddbdb;
    position: relative;
    width: 90px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
  .content p {
    color: #7b7a7a; }
    .content p .red_text {
      color: #f5592b;
      font-weight: bold; }
  .content .value_edit {
    font-size: 19px;
    padding: 8px;
    border: none;
    margin-left: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 26px;
    background-color: transparent;
    width: 100px;
    font-weight: bold; }
  .content .give_now {
    background-color: #14bd20;
    color: #fff;
    width: 99px;
    padding: 16px 10px;
    margin-left: 17px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold; }
  .content .small_link {
    color: #52aac7;
    text-decoration: none;
    display: inline-block;
    margin-top: 14px;
    font-style: italic; }

.grayButton {
  clear: both;
  display: inline-block;
  margin-top: 20px;
  padding: 16px 10px;
  width: 124px;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #dddbdb;
  color: #7b7a7a;
  font-weight: bold; }
