
body {
    font-family: Helvetica, Arial, sans-serif;
}
#main_section_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.main_content {
   width: 302px;
  
}
.header_gray { 
    background-color: $darkgray;
    color: $white;
    text-align: center;
    width: 100%;
    padding: 6px 0px;
    position: relative;
    @include border-radius(8px);
    p{
        font-size: 16px;
    }
    &::after {
        content:'';
        position: absolute;
        top: 100%;
        left: 81%;
        width: 0;
        height: 0;
        border-top: solid 10px $darkgray;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
    }
}

.red_bar { 
    width: 298px;
    height: 15px;
    position: relative;
    border: 2px solid $lightgray;
    margin-top: 15px;
    &:after{
        position: absolute;
        content: "";
        width: 85%;
        background-color: $red;
        height: 15px;

    }
}
.content {
    border: 2px solid $lightgray;
    border-top: 0px;
    width: 258px;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &::after {
        content:'';
        background-color: pink;
        border-bottom: 3px solid $shadowgray;
        width: 100%;
        position: absolute;
        margin: 3px 0px 0px -20px;
        bottom: -5px;
       }
    .dollar_value{
        font-size: 20px;
        color: $textgray;
        padding: 10px 10px;
        border: 2px solid $lightgray;
        position: relative;
        width: 90px;
        @include border-radius(6px);
    }
    p{
      color: $textgray;
      .red_text{
        color: $red;
        font-weight: bold;
        }
    }
    .value_edit
    {
        font-size: 19px;
        padding: 8px;
        border: none;
        margin-left: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 26px;
        background-color: transparent;
        width: 100px;
        font-weight: bold;
    }
    .give_now{
        background-color: $green; 
        color: $white;
        width: 99px;
        padding: 16px 10px;
        margin-left: 17px;
        @include border-radius(6px);
        text-align: center;
        font-weight: bold;
    }
    .small_link {
        color: $blue;
        text-decoration: none;
        display: inline-block;
        margin-top: 14px;
        font-style: italic;
    }
}

.grayButton{
    clear: both;
    display: inline-block;
    margin-top: 20px;
    padding: 16px 10px;
    width: 124px;
    text-align: center;
    @include border-radius(6px);
    border: 2px solid $lightgray;
    color: $textgray;
    font-weight: bold;
}